  <div class="container">
    <h1 class="text-center mt-5 text-light"> Car Haven Show Room </h1>
    <div class="row mt-5">
      <div class="col-3">
        <input  type="text" class="form-control m-1" placeholder="Brand">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="Model">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="Body Type">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="Engine Specification">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="0 to 100 Km/h in seconde">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="Top Speed">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="Price in US Dollar">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="Model Year">

      </div>
      <div class="col-3">
        <input type="text" class="form-control m-1" placeholder="Image Url">

      </div>
    <div class="col-3">
      <button class="btn form-control m-1 text-light "  > Create </button>
    </div>
    </div>

    <div class="row mt-5">
      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/Audi RS7.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/BMW 2003 1972.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/Audi RS7.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/Audi RS7.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/Audi RS7.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/Audi RS7.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/Audi RS7.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

      <div class="col-3">
        <div class="card p-2">
          <div class="card-image">
            <img class="w-100" src="../assets/Audi RS7.avif" alt="" >
          </div>
          <div class="card-body text-center">
            <h2> Audi RS7</h2>
            <p><h4>Audi RS7 Sport Coupe</h4>  
            <p>  V8 4.0l Twin Turbo 600hp</p>
            <p> 0 --> 100 in 3.2 second </p>
  
          </div>
        </div>
  
      </div>

    </div>
    
  </div>

